
<div class="text-center head" >
    <img src="../assets/logo.png"  style="height: 6rem;" alt="logo">
    <h1> Brilliant Quotes</h1>
    <hr>
    </div>
    <div class="row">
            <div class="col-md-6" >
        <app-quote-form></app-quote-form>
            </div>
            <div class="col-md-6" >
                <div *ngFor='let quote of quotes;let i = index' class="back">
                    
                    <p>{{quote.quote}}</p>
                    <div class="d-flex space ">
                    <p><span id="font">Author:</span> {{quote.author}}</p>
                    <p align="end"><span  id="font">Submitted by: </span> {{quote.name}}</p>
                   </div>
                </div>
</div>

