
<div class="text-center head" >
    <img src="../assets/logo.png"  style="height: 6rem;" alt="logo">
    <h1> Brilliant Quotes</h1>
    <hr>
    </div>
    <div class="row">
            <div class="col-md-6" >
        <app-quote-form></app-quote-form>
            </div>
            <div class="col-md-6" >
                <div *ngFor='let quote of quotes;let i = index'>
                    <h2>{{quote.author}}</h2>
                    <p>{{quote.quote}}</p>
                    <h5>Submitted by: {{quote.name}}</h5>
                    </div>
</div>

