
<h4 class="text-center">Add Your Best Quote</h4>
<form>
    
    <div class="form-group">

        <label for="author">Author</label>
        <input type="text" required class="form-control" id="author">

    </div>
    <div class="form-group">

        <label for="description">Quote</label>
        <textarea class="form-control" id="quote" rows="4" required></textarea>

    </div>
    <div class="form-group">
        <label for="complete">Date Quoted</label><br>
        <input type='date' id="complete" required>

    </div>
    <div class="form-group">

        <label for="name">Submitted by:</label>
        <input type="text" required class="form-control" id="name">

    </div><br>


</form>